<a href="https://colab.research.google.com/github/joseph-c-mcguire/Privacy-Research/blob/main/K_Anonymity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# K-Anonymity 
A data set $D$ is  $k-anonymous$, if any combination for any combination of column features that there are at least $k$ entries with that combination of features.

We'll explore this further with the following Kaggle Dataset obtained from a survey done in Isreal on fashion.

https://www.kaggle.com/datasets/thomaskonstantin/fashion-researchpersonal-and-garment-information

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_excel('https://github.com/joseph-c-mcguire/Privacy-Research/blob/main/Personal_Fashion.xlsx?raw=true', engine = 'openpyxl')
df.tail(10)

,Sample_ID,Age,Gender,Height(cm),Weight(kg),District,Home_Town,Amount_Of_Clothes_Owned,Monthly_Income,Education,...,Garment_Material,Garment_Department,Garment_Size,Wearing_Frequency_text,Wearing_Frequency_Yearly,Garment_Wearing_Occasion,Love_Score,Comfort_Score,Outfit_Changing_Frequency,Strory_Attached_To_Garment
194,38,54,Female,156,54.0,NaN,חדרה,NaN,NaN,Master's Degree,...,Wool,נשים,M,6 פעמים בחורף,6.0,"Work, Recreation, Family Recreation",10,10,2,מחנות יד שנייה בפרדס חנה
195,46,18,Female,158,56.0,Tel Aviv District,תל אביב,NaN,NaN,high school education,...,Cotton,נשים,ONE SIZE,פעם בשבוע,52.0,"Leisure, Work, Recreation, Family Recreation",8,10,2,קיבלתי אותו מחברה טובה שלא היה לו בו צורך
196,49,19,Male,183,72.0,Tel Aviv District,רמת גן,60.0,NaN,Profession Oriented Education,...,Cotton,גברים,L,פעם בשבוע,52.0,"Leisure, Recreation, Family Recreation, Studie...",8,10,3,NaN
197,50,21,Female,154,51.0,Tel Aviv District,בת ים,NaN,6000.0,high school education,...,Other,נשים,S,3 פעמים בחודש +-,30.0,"Leisure, Work, Wedding, Recreation, Family Rec...",10,10,1,NaN
198,52,19,Male,183,72.0,Tel Aviv District,רמת גן,60.0,NaN,Profession Oriented Education,...,Cotton,גברים,L,פעם בשבוע,52.0,"Leisure, Recreation, Family Recreation, Studie...",8,10,1,NaN
199,53,18,Female,158,56.0,Tel Aviv District,תל אביב,NaN,NaN,high school education,...,Cotton,נשים,ONE SIZE,פעם בשבוע,52.0,"Leisure, Work, Recreation, Family Recreation",8,10,2,קיבלתי אותו מחברה טובה שלא היה לו בו צורך
200,54,34,Female,168,50.0,NaN,קרית טבעון,350.0,15000.0,Master's Degree,...,Nylon,נשים,S,פעמיים בשבוע,104.0,"Leisure, Work, Recreation, Official event, Stu...",8,8,2,"במשך כמה שנים עקבתי אחר המעצבת הזו (דנמרק), את..."
201,58,50,Female,163,66.0,NaN,עמק חפר,NaN,36000.0,Bachelor's Degree,...,Synthetic,נשים,M,"פעם הרבה, היום פעם בעונה",NaN,"Leisure, Work, Recreation, Family Recreation, ...",7,6,3,"קניתי בקאלה, אהבתי את סוג הבד המגניב ואת הקולי..."
202,80,34,Female,168,50.0,Tel Aviv District,רמת ישי,350.0,NaN,Master's Degree,...,Cotton,נשים,L,5 פעמים בחודש בחורף,15.0,"Leisure, Work, Family Recreation, Official eve...",7,9,1,"רכשתי עם עוד בגדים נוספים, המשלוח מדנמרק יקר, ..."
203,138,39,Male,178,72.0,Tel Aviv District,נס ציונה,NaN,8000.0,Master's Degree,...,Polyester,גברים,L,בחורף כמעט תמיד כשיורד גשם,NaN,"Leisure, Work, Wedding, Recreation, Family Rec...",9,9,1,בת הזוג שלי הזמינה לי באינטרנט

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample_ID                    204 non-null    int64
 1   Age                          204 non-null    int64
 2   Gender                       204 non-null    object
 3   Height(cm)                   204 non-null    int64
 4   Weight(kg)                   204 non-null    float64
 5   District                     166 non-null    object
 6   Home_Town                    204 non-null    object
 7   Amount_Of_Clothes_Owned      121 non-null    float64
 8   Monthly_Income               146 non-null    float64
 9   Education                    204 non-null    object
 10  Garment_Type                 204 non-null    object
 11  Garment_Description          204 non-null    object
 12  Brand                        191 non-null    object
 13  Year_Of_Acquiring            204 non-null    int64
 14  Closest_Color                204 non-null    object
 15  Prints_And_Special_Features  204 non-null    object
 16  Garment_Material             204 non-null    object
 17  Garment_Department           202 non-null    object
 18  Garment_Size                 204 non-null    object
 19  Wearing_Frequency_text       204 non-null    object
 20  Wearing_Frequency_Yearly     181 non-null    float64
 21  Garment_Wearing_Occasion     204 non-null    object
 22  Love_Score                   204 non-null    int64
 23  Comfort_Score                204 non-null    int64
 24  Outfit_Changing_Frequency    204 non-null    int64
 25  Strory_Attached_To_Garment   157 non-null    object
dtypes: float64(4), int64(7), object(15)
memory usage: 41.6+ KB

In [8]:
df = df.fillna('NaN') 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample_ID                    204 non-null    int64
 1   Age                          204 non-null    int64
 2   Gender                       204 non-null    object
 3   Height(cm)                   204 non-null    int64
 4   Weight(kg)                   204 non-null    float64
 5   District                     204 non-null    object
 6   Home_Town                    204 non-null    object
 7   Amount_Of_Clothes_Owned      204 non-null    object
 8   Monthly_Income               204 non-null    object
 9   Education                    204 non-null    object
 10  Garment_Type                 204 non-null    object
 11  Garment_Description          204 non-null    object
 12  Brand                        204 non-null    object
 13  Year_Of_Acquiring            204 non-null    int64
 14  Closest_Color                204 non-null    object
 15  Prints_And_Special_Features  204 non-null    object
 16  Garment_Material             204 non-null    object
 17  Garment_Department           204 non-null    object
 18  Garment_Size                 204 non-null    object
 19  Wearing_Frequency_text       204 non-null    object
 20  Wearing_Frequency_Yearly     204 non-null    object
 21  Garment_Wearing_Occasion     204 non-null    object
 22  Love_Score                   204 non-null    int64
 23  Comfort_Score                204 non-null    int64
 24  Outfit_Changing_Frequency    204 non-null    int64
 25  Strory_Attached_To_Garment   204 non-null    object
dtypes: float64(1), int64(7), object(18)
memory usage: 41.6+ KB

Currently each row is unique

In [9]:
str(df.shape[0] - df.drop_duplicates().shape[0])

'0'

So currently this dataset is $1-Anonymuous$ which is not anonymuous at all, each entry is unique; that is, this dataset is particularly vulnerable to data linkage attack.
This is an attack where I determine someone's identity based on quasi-personal identifiers( like 
``'Age', 'Gender', 'Height(cm)', 'Weight(kg)', 'District', 'Home_Town', 'Monthly_Income', 'Education'``.
With these QPI's we can reliably determine the identity of most, if not all, of the survey takers.
So anonymize we'll use K-Anonymization

In [90]:
def k_anonymous(data, columns):
  ## Take in a data frame, return the value of k-anonymity
  # print(data.groupby(columns).count())
  return data.groupby(columns).count().min().min()
print('The Data set with the above QPI\'s is ' + str(k_anonymous(df, ['Age', 'Gender', 'Height(cm)', 'Weight(kg)', 'District', 'Home_Town', 'Monthly_Income', 'Education'])) + '-Anonymous')

The Data set with the above QPI's is 1-Anonymous

# Manual Anonymization

Using manual anonymization rules, we can get decent results with manual straight-forward anonymization rules.

In [91]:
manual = df.loc[:,['Age', 'Gender', 'Height(cm)', 'Weight(kg)', 'District', 'Home_Town', 'Monthly_Income', 'Education']].copy(deep = True)
# bins
manual_anon = pd.DataFrame()
manual_anon['Age'] = bins = pd.cut(manual.Age, range(min(manual.Age.min(),10), max(manual.Age.max(), 100),5))
manual_anon['Gender'] = manual['Gender']
manual_anon['Height(cm)'] = bins = pd.cut(manual['Height(cm)'], range(min(manual['Height(cm)'].min(),100), max(manual['Height(cm)'].max(), 100),10))

k_anonymous(manual_anon,['Age','Gender','Height(cm)'])

nan

In [ ]:
()